/* Icon FontAwesome */

.fa-money-bill-wave {
  font-size: 15px;
  color: #136f63;
}

.fa-clock {
  font-size: 15px;
  color: #032b43;
}

.fa-id-card {
  font-size: 15px;
  color: #ffba08;
}

/*Text*/
.justify-content {
  text-align: justify;
  text-justify: inter-word;
}

/* Icon FontAwesome */

/*Text*/
.fa-star {
  color: rgb(246, 142, 4);
}

/*Navbar*/
.navbar-nav {
  margin-left: auto;
  padding-right: 50px;
  font-size: 18px;
}

.navbar-nav a {
  margin-left: 10px;
  font-weight: lighter;
  color: white;
}

.navbar {
  background-color: #023e8a;
}

/*Navbar*/

/* Search Cars */

.cars-box-search {
    width: 80%;
    margin-top: -55px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px 2px #ebebeb;
    font-size: 12px;
    background-color: white;
    z-index: 1;
    position:relative;
}
@media screen and (max-width: 1400px) {
    .cars-box-search {
        width: 80%;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: inset 0 0 0 1px #ebebeb;
        font-size: 12px;
        background-color: white;
        z-index: 1;
        position:relative;
    }
}
@media screen and (max-width: 767px) {
    .cars-box-search {
        width: 100%;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: inset 0 0 0 1px #ebebeb;
        font-size: 12px;
        background-color: white;
        z-index: 1;
        position:relative;
    }
}
/* Search Cars */

/*Main Section*/
.main-section {
  margin-top: 50px;
  padding-left: 20px;
  height: auto;
}

.main-section img {
  float: right;
}

.sub-main-section {
  margin-top: 100px;
}

/*Main Section*/

/*Our Service*/
.sub-ourservice img {
  margin-top: 20px;
}

.text-ourservice-1 {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.text-ourservice-2 {
  font-size: 15px;
  font-weight: lighter;
  font-family: sans-serif;
}

.text-ourservice-3 {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.ourservice-section {
  margin-top: 10px;
  margin-bottom: 50px;
}

.ourservice-section p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*Our Service*/
/* why us */
.whyus card-header p {
  font-size: 50px;
  font-weight: bold;
}

.whyus-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.whyus-section p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* why us */

/*Testimonial*/
.testimonial-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonial-section p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.carousel-control-next-icon {
  background-color: grey;
  border-radius: 20px;
}

.carousel-control-prev-icon {
  background-color: grey;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .carousel-item img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main-section img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main-section {
    margin-top: 30px;
  }
  .navbar-brand {
    font-size: 16px;
  }
  .navbar-nav {
    font-size: 14px;
  }

  .iframe {
    text-align: center;
    width: 100%;

  }
}

/*Testimonial*/
/* Getting Started */
.getting-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.getting-section p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Getting Started */
/* FAQ */
.faq-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.faq-section p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* FAQ */

/* Cari Mobil */

/* Cari Mobil */

/*Footer*/
.footer {
  margin-top: 50px;
  padding-top: 10px;
  background-color: aliceblue;
  padding-left: 15px;
}

.footer p {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}



a {
  text-decoration: none;
  color: black;
}

/*Footer*/